<div class="row">
  <div class="large-12 medium-12 columns">
    <h3>Registrar Usuario</h3>
  </div>
</div>

<div class="row">
  <div class="large-4 medium-4 columns">
  Username
  </div>
  <div class="large-4 medium-4 columns">
  <input type="text"/>
  </div>
</div>

<div class="row">
  <div class="large-4 medium-4 columns">
  Password
  </div>
  <div class="large-4 medium-4 columns">
  <input type="text"/>
  </div>
</div>

<div class="row">
  <div class="large-4 medium-4 columns">
  Nombre
  </div>
  <div class="large-4 medium-4 columns">
  <input type="text"/>
  </div>
</div>

<div class="row">
  <div class="large-4 medium-4 columns">
  Apellido
  </div>
  <div class="large-4 medium-4 columns">
  <input type="text"/>
  </div>
</div>

<div class="row">
  <div class="large-4 medium-4 columns">
  Edad
  </div>
  <div class="large-4 medium-4 columns">
  <input type="text"/>
  </div>
</div>

<div class="row">
  <div class="large-12 medium-12 columns">
<button>Registrar</button>
  </div>
</div>
