<div class="row">
  <div class="large-15 medium-15 columns">
    <h3>Registro de usuario</h3></br>
  </div>
</div>

<div class="row">
  <div class="large-4 medium-4 columns">
    Username
  </div>
  <div class="large-8 medium-4 columns">
    <input type="text" ng-model="username"/>
  </div>
</div>

<div class="row">
  <div class="large-4 medium-4 columns">
    Password
  </div>
  <div class="large-8 medium-4 columns">
    <input type="password" ng-model="password"/>
  </div>
</div>

<div class="row">
  <div class="large-4 medium-4 columns">
    Nombre
  </div>
  <div class="large-8 medium-4 columns">
    <input type="text" ng-model="firstname"/>
  </div>
</div>

<div class="row">
  <div class="large-4 medium-4 columns">
    Apellido
  </div>
  <div class="large-8 medium-4 columns">
    <input type="text" ng-model="lastname"/>
  </div>
</div>

<div class="row">
  <div class="large-4 medium-4 columns">
    Edad
  </div>
  <div class="large-8 medium-4 columns">
    <input type="text" ng-model="age"/></br>
  </div>
</div>

<div class="row">
  <div class="large-12 medium-12 columns">
  <b>{{error_message}}</b>
  </div>
</div>

<div class="row">
  <div class="large-12 medium-12 columns">
    <button ng-click="create()">Registrar</button>
  </div>
</div>
