<div class="row">
  <div class="large-12 medium-12 columns">
    <h3>Ingresar Sesi&oacute;n</h3>
  </div>
</div>
<div class="row">
  <div class="large-4 medium-4 columns">
  Username
  </div>
  <div class="large-4 medium-4 columns">
  <input type="text" ng-model="username"/>
  </div>
</div>

<div class="row">
  <div class="large-4 medium-4 columns">
  Password
  </div>
  <div class="large-4 medium-4 columns">
  <input type="password" ng-model="password"/>
  </div>
</div>
<div class="row">
  <div class="large-12 medium-12 columns">
    <b>{{success}}</b>
  </div>
</div>
<div class="row">
  <div class="large-12 medium-12 columns">
    <button ng-click="login()">Ingresar</button>
  </div>
</div>

<div class="row">
  <div class="large-12 medium-12 columns">
    <a ng-href="#/registeruser">Crear usuario</a>
  </div>
</div>
