<div class="row" >
  <div class="large-12 medium-12 columns">
    <h3>Datos de {{firstname}}</h3>
  </div>
</div>

<div class="row">
  <div class="large-4 medium-4 columns">
    Username
  </div>
  <div class="large-4 medium-4 columns">
    {{username}}
  </div>
</div>

<div class="row">
  <div class="large-4 medium-4 columns">
    Password
  </div>
  <div class="large-4 medium-4 columns">
    {{password}}
  </div>
</div>

<div class="row">
  <div class="large-4 medium-4 columns">
    Nombre
  </div>
  <div class="large-4 medium-4 columns">
    {{firstname}}
  </div>
</div>

<div class="row">
  <div class="large-4 medium-4 columns">
    Apellido
  </div>
  <div class="large-4 medium-4 columns">
    {{lastname}}
  </div>
</div>

<div class="row">
  <div class="large-4 medium-4 columns">
    Edad
  </div>
  <div class="large-4 medium-4 columns">
    {{age}}
  </div>
</div>
