<head>
	<link rel="stylesheet" href="styles.css">
</head>
<div class="row" >
    <div class="large-4 medium-4 columns">
        <div class="row" >
            <div class="large-12 medium-12 columns">
                <h4>Hola {{firstname}}</h4>
            </div>
        </div>

        <div class="row">
            <div class="large-1 medium-2 columns">
                Username
            </div>
            <div class="large-1 medium-2 columns">
                {{username}}
            </div>
        </div>

        <div class="row">
            <div class="large-1 medium-2 columns">
                Password
            </div>
            <div class="large-1 medium-2 columns">
                {{password}}
            </div>
        </div>

        <div class="row">
            <div class="large-1 medium-2 columns">
                Nombre
            </div>
            <div class="large-1 medium-2 columns">
                {{firstname}}
            </div>
        </div>

        <div class="row">
            <div class="large-1 medium-2 columns">
                Apellido
            </div>
            <div class="large-1 medium-2 columns">
                {{lastname}}
            </div>
        </div>

        <div class="row">
            <div class="large-1 medium-2 columns">
                Edad
            </div>
            <div class="large-1 medium-2 columns">
                {{age}}
            </div>
        </div>
    </div>


    <div class="large-4 medium-4 columns">
        <div class="row" >
            <a href="#/addfriends">Agregar amigos</a>
        </div>
        <div class="row" >
            <a href="#/getglobalscores">Ver Puntajes Globales</a>
        </div>
        <div class="row" >
            <a href="#/getfriendscores">Ver puntajes de amigos</a>
        </div>
    </div>

</div>
