<div class="row" >

  <div class="large-9 columns">
    <h3>Get in Touch!</h3>
    <input type='text' ng-model='name'/>
    <input type='text' value={{name}} />
    <p>We'd love to hear from you. You can either reach out to us as a whole and one of our awesome team members will get back to you, or if you have a specific question reach out to one of our staff. We love getting email all day <em>all day</em>.</p>
    <div class="section-container tabs" data-section>
      <section class="section">
        <h5 class="title"><a href="#panel1">Contact Our Company</a></h5>
        <div class="content" data-slug="panel1">
          <form>
            <div class="row collapse">
              <div class="large-2 columns">
                <label class="inline">Your Name</label>
              </div>
              <div class="large-10 columns">
                <input type="text" id="yourName" placeholder="Jane Smith">
              </div>
            </div>
            <div class="row collapse">
              <div class="large-2 columns">
                <label class="inline"> Your Email</label>
              </div>
              <div class="large-10 columns">
                <input type="text" id="yourEmail" placeholder="jane@smithco.com">
              </div>
            </div>
            <label>What's up?</label>
            <textarea rows="4"></textarea>
            <button type="submit" class="radius button">Submit</button>
          </form>
        </div>
      </section>
      <section class="section">
        <h5 class="title"><a href="#panel2">Specific Person</a></h5>
        <div class="content" data-slug="panel2">
          <ul class="large-block-grid-5">
            <li><a href="/cdn-cgi/l/email-protection#09646865497a6c7b6c67607d70276b6a277b6c6b"><img src="http://placehold.it/200x200&amp;text=[person]">Mal Reynolds</a></li>
            <li><a href="/cdn-cgi/l/email-protection#81fbeee4c1f2e4f3e4efe8f5f8afe3e2aff3e4e3"><img src="http://placehold.it/200x200&amp;text=[person]">Zoe Washburne</a></li>
            <li><a href="/cdn-cgi/l/email-protection#4b212a32252e0b382e392e25223f3265292865392e29"><img src="http://placehold.it/200x200&amp;text=[person]">Jayne Cobb</a></li>
            <li><a href="/cdn-cgi/l/email-protection#4e2a212d0e3d2b3c2b20273a37602c2d603c2b2c"><img src="http://placehold.it/200x200&amp;text=[person]">Simon Tam</a></li>
            <li><a href="/cdn-cgi/l/email-protection#0c676560607563797b6578646175616562684c7f697e6962657875226e6f227e696e"><img src="http://placehold.it/200x200&amp;text=[person]">River Tam</a></li>
            <li><a href="/cdn-cgi/l/email-protection#214d4440474e4f55494456484f4561524453444f4855580f43420f534443"><img src="http://placehold.it/200x200&amp;text=[person]">Hoban Washburne</a></li>
            <li><a href="/cdn-cgi/l/email-protection#3f5d5050547f4c5a4d5a51564b46115d5c114d5a5d"><img src="http://placehold.it/200x200&amp;text=[person]">Shepherd Book</a></li>
            <li><a href="/cdn-cgi/l/email-protection#43282f262603302631262d2a373a6d21206d312621"><img src="http://placehold.it/200x200&amp;text=[person]">Kaywinnet Lee Fry</a></li>
            <li><a href="/cdn-cgi/l/email-protection#f29b9c938093b295879b9e96dc919d9f82dc939e9e"><img src="http://placehold.it/200x200&amp;text=[person]">Inarra Serra</a></li>
          </ul>
        </div>
      </section>
    </div>
  </div>


  <div class="large-3 columns">
    <h5>Map</h5>

    <p>
      <a href="" data-reveal-id="mapModal"><img src="http://placehold.it/400x280"></a><br/>
      <a href="" data-reveal-id="mapModal">View Map</a>
    </p>
    <p>
      123 Awesome St.<br/>
      Barsoom, MA 95155
    </p>
  </div>

</div>


  <div class="reveal-modal" id="mapModal">
    <h4>Where We Are</h4>
    <p><img src="http://placehold.it/800x600"/></p>

    <a href="#" class="close-reveal-modal">&times;</a>
  </div>
